{% extends "base.html" %}

{% block content %}
<h1>Add a Run</h1>
<form method="post">
  <label for="typeOfRun">Type of Run(Easy|Long|Interval|Etc):</label>
  <input type="text" id="typeOfRun" name="type_of_run" />
  <br>
  <label for="numberOfKilometres">Number of Kilometres:</label>
  <input type="text" id="numberOfKilometres" name="number_of_kilometres" />
  <br>
  <label for="comments">Comments ($):</label>
  <input type="text" id="comments" name="comments" />
  <br>
  <input type="submit">
</form>
{% endblock %}