<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flasking App</title>

    <!-- Local CSS file for styling the application-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">

    <!-- Additional Styling -->
    {% block styling %}
    {% endblock %}
  </head>

  <body>
    <header class="site-header">
      <nav class="nav">
        <a class="nav-link logo">Flasking App</a>
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Flasking Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('list_runs') }}">List Runs</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('add_run') }}">Add Runs</a></li>
    </ul>
      </nav>
    </header>

    <main class="content">
      <!-- child template -->
      {% block content %}
      {% endblock %}
    </main>
  </body>

  <footer class="site-footer">
    <small>hive.blog 2021</small>
  </footer>

</html>